@model List<Store.Mvc.Models.MovieItemViewModel>


<div id="contentBox">
    @{Html.RenderPartial("MoviePartial", Model);}
</div>

<script src="~/Scripts/Store.js"></script>
<script type="text/javascript">
    document.onkeyup = function (e) {
        e = e || window.event;
        if (e.keyCode === 13) {
            if ($("searchValue").val() != "") {
                searchMovie();
            }
        }
        return false;
    }
</script>

